name: Build Cloudstream Extensions

on:
  push:
    branches: [ master, main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build Plugins
        run: ./gradlew make

      # İşte SİHİRLİ KISIM BURASI
      # Bu eylem, 'builds' dalı yoksa oluşturur, varsa günceller.
      - name: Deploy to builds branch
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: builds  # Dosyaların atılacağı dalın adı
          folder: build   # .cs3 dosyalarının olduğu klasör
